<%= form_for([@task, current_user.tasks.build]) do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">${inEditMode ? "Edit" : "Create New"} Task</div>
    <table class="table">
      <tr>
        <td>Description:</td>
        <td><%= f.text_area :description %></td>
      </tr>
      <tr>
        <td>Due Date:</td>
        <td><%= date_field("task", "due_date", value: :due_date) %></td>
      </tr>
      <tr>
        <td>Completed:</td>
        <td>
          <%= f.check_box :completed %>
        </td>
      </tr>
    </table>
  </div>
  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
    <i class="glyphicon glyphicon-floppy-save"></i> Save Task
  <% end %>
<% end %>
