<%= form_for(@task) do |f| %>

  <% if @task.errors.any? %>
    <div class="alert alert-danger">
      <% @task.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading"><%= @task.persisted? ? "Edit" : "Create New"%> Task</div>
    <table class="table">
      <tr>
        <td>Description:</td>
        <td><%= f.text_area :description %></td>
      </tr>
      <tr>
        <td>Due Date:</td>
        <td><%= date_field("task", "due_date", value: @task.due_date.to_formatted_s(:task)) %></td>
      </tr>
      <tr>
        <td>Completed:</td>
        <td>
          <%= f.check_box :completed %>
        </td>
      </tr>
    </table>
  </div>
  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
    <i class="glyphicon glyphicon-floppy-save"></i> Save Task
  <% end %>
<% end %>
