<html>
  <head></head>
  <body>
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">Tasks</div>
        <table class="table">
          <tr>
            <th style="width: 10%">#</th>
            <th style="width: 50%">Description</th>
            <th style="width: 20%">Due Date</th>
            <th style="width: 10%">Completed</th>
            <th style="width: 10%"></th>
          </tr>
          <% if !current_user.tasks || current_user.tasks.empty? %>
            <tr>
              <td colspan="5" style="text-align: center">There are no tasks.</td>
            </tr>
          <% else %>
            <% current_user.tasks.each_with_index do |task, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= task.description %></td>
                <td style="color: <%= task.due_date < Time.now && !task.completed %> ? "red" : "green"}">
                  <%= task.due_date.to_formatted_s(:task) %>
                </td>
                <td><%= task.completed %></td>
                <td>
                  <c:if test="${not inEditMode}">
                    <a href="/tasks?edit=${task.id}" class="btn" role="button">
                    <span class="glyphicon glyphicon-pencil"> Edit</span>
                    </a>
                  </c:if>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
      <br/>
      <c:if test="${not empty error}">
        <div class="alert alert-danger">${error}</div>
      </c:if>
      <%= render 'form' %>
    </div>
  </body>
</html>
